/* Extracted from inline WordPress/Elementor CSS. */
.custom-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 18px;
    user-select: none;
    font-family: "Manrope", Sans-serif;
    color: #0BC7DB;
    font-weight: 600;
  }

  .custom-checkbox input {
    display: none; /* скрываем стандартный чекбокс */
  }

  .checkmark {
    width: 20px;
    height: 20px;
    border: 1.5px solid #0BC7DB;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
  }

  /* Галочка */
  .custom-checkbox input:checked + .checkmark::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid #0BC7DB;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  @media (max-width: 767px) {
      .custom-checkbox,.custom-checkbox2 {

    font-size: 16px!important;

  }
  }

  /* Анимация при наведении */
  .custom-checkbox:hover .checkmark {
    border-color: #0BC7DB;
  }